<div class="edit-tweet-create">
  <%= form_with(model: tweet) do |form| %>
    <% if tweet.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

        <ul>
          <% tweet.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.text_area :body, class: "show-tweet-create__text-area", placeholder: "Something to say about it?" %>
    </div>

    <div class="edit-tweet-create__input">
      <%= form.submit "UPDATE", class: "button button--primary button--sm" %>
    </div>
  <% end %>
</div>
