<%= form_for(@user, url: signup_path) do |f| %>
  <div class="field">
    <%= f.label :username, class: "create-user-data__label" %>
    <%= f.text_field :username, class: "create-user-data__field"%>
    <% if user.errors.messages[:username].any? %>
      <span class="input__error-message">
        <%= user.errors.messages[:username].join(", ")%>
      </span>
    <% end %>
  </div>

  </br>

  <div class="field">
    <%= f.label :email, class: "create-user-data__label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "create-user-data__field" %>
    <% if user.errors.messages[:email].any? %>
      <span class="input__error-message">
        <%= user.errors.messages[:email].join(", ")%>
      </span>
    <% end %>
  </div>

  </br>

  <div class="field">
    <%= f.label :name, class: "create-user-data__label" %>
    <%= f.text_field :name, class: "create-user-data__field"%>
    <% if user.errors.messages[:name].any? %>
      <span class="input__error-message">
        <%= user.errors.messages[:name].join(", ")%>
      </span>
    <% end %>
  </div>

  </br>

  <div>
    <%= f.label :avatar, class: "create-user-data__label" %>
    <%= f.file_field :avatar %>
    <% if user.errors.messages[:avatar].any? %>
      <span class="input__error-message">
        <%= user.errors.messages[:avatar].join(", ")%>
      </span>
    <% end %>
  </div>

  </br>

  <div class="field">
    <%= f.label :password, class: "create-user-data__label" %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "********", class: "create-user-data__field" %>
    <% if user.errors.messages[:password].any? %>
      <span class="input__error-message">
        <%= user.errors.messages[:password].join(", ")%>
      </span>
    <% end %>
  </div>

  </br>

  <div class="field">
    <%= f.label :password_confirmation, class: "create-user-data__label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "********", class: "create-user-data__field" %>
    <% if user.errors.messages[:password_confirmation].any? %>
      <span class="input__error-message">
        <%= user.errors.messages[:password_confirmation].join(", ")%>
      </span>
    <% end %>
  </div>

  </br>

  <div class="actions">
    <%= f.submit "SIGN UP", class: "button button--primary button--sm w-full" %>
  </div>
<% end %>