<div id="<%= dom_id user %>" class="show-user-container">
  <% if user.avatar.attached? %>
    <%= image_tag user.avatar, alt: "Image to #{user.name}", class: "show-user-avatar" %>
  <% else %>
    <%= image_tag "empty_avatar.webp", alt: "Image not found", class: "show-user-avatar" %>
  <% end %>

  <p class="show-user-name">
    <%= user.name %>
  </p>

  <p class="show-user-username">
    @<%= user.username %>
  </p>

  <p class="show-user-date">
    Joined on
    <%= user.created_at.to_date.strftime("%Y-%m-%d") %>
  </p>

</div>
